@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url(./text-animation.css);
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #313131;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-family: "Jost", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
}

.area-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.area {
  margin-left: 20px;
  margin-right: 20px;
  flex-grow: 1;
  display: grid;
  text-align: center;
  gap: 10px;
  max-width: 400px;
  max-height: 400px;
}

.cell {
  background-color: #fff;
  border-radius: 5px;
  aspect-ratio: 1;
}

.pointer {
  cursor: pointer;
}

.hover {
  background-color: rgb(228, 226, 226);
}

.mode-container, .game-mode-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.change-game-mode, .change-mode {
  position: relative;
  display: inline-block;
  padding: 8px 16px;
  margin: 5px;
  color: #c7c7c7;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  transition: opacity 0.5s, color 0.2s, background-color 0.2s, box-shadow 0.2s;
  border: 2px solid transparent;
  cursor: pointer;
}

.change-game-mode:focus, .change-mode:focus {
  outline: none;
}

.change-game-mode {
  margin: 0 5px;
}

.clicked {
  border: 2px solid #fff;
}

.change-mode:hover.fiveByFive, .change-mode:focus.fiveByFive, .change-mode.fiveByFive.clicked {
  color: #028060;
  background-color: #00f0b4;
  box-shadow: 0 0 10px #00f0b4, 0 0 40px #00f0b4, 0 0 80px #00f0b4;
}

.change-mode:hover.threeByThree, .change-mode:focus.threeByThree, .change-mode.threeByThree.clicked {
  color: #813e00;
  background-color: #f77700;
  box-shadow: 0 0 10px #f77700, 0 0 40px #f77700, 0 0 80px #f77700;
}

.change-mode:hover.pyramid, .change-mode:focus.pyramid, .change-mode.pyramid.clicked {
  color: #5e140c;
  background-color: #c22513;
  box-shadow: 0 0 10px #c22513, 0 0 40px #c22513, 0 0 80px #c22513;
}

.change-game-mode:hover.local, .change-game-mode:focus.local, .change-game-mode.local.clicked {
  color: #8b7002;
  background-color: #F1C40F;
  box-shadow: 0 0 10px #F1C40F, 0 0 40px #F1C40F, 0 0 80px #F1C40F;
}

.change-game-mode:hover.online, .change-game-mode:focus.online, .change-game-mode.online.clicked {
  color: #242d8d;
  background-color: #4754E8;
  box-shadow: 0 0 10px #4754E8, 0 0 40px #4754E8, 0 0 80px #4754E8;
}

.change-game-mode:hover.easy-bot, .change-game-mode:focus.easy-bot, .change-game-mode.easy-bot.clicked {
  color: #163d17;
  background-color: #36993A;
  box-shadow: 0 0 10px #36993A, 0 0 40px #36993A, 0 0 80px #36993A;
}

.change-game-mode:hover.hard-bot, .change-game-mode:focus.hard-bot, .change-game-mode.hard-bot.clicked {
  color: #652f7a;
  background-color: #AD1FCF;
  box-shadow: 0 0 10px #AD1FCF, 0 0 40px #AD1FCF, 0 0 80px #AD1FCF;
}

@media (max-width: 480px) {
  .change-mode:hover.fiveByFive, .change-mode:focus.fiveByFive {
    box-shadow: 0 0 4px #00f0b4, 0 0 26px #00f0b4, 0 0 46px #00f0b4;
  }
  .change-mode:hover.threeByThree, .change-mode:focus.threeByThree {
    box-shadow: 0 0 4px #f77700, 0 0 26px #f77700, 0 0 46px #f77700;
  }
  .change-mode:hover.pyramid, .change-mode:focus.pyramid {
    box-shadow: 0 0 4px #c22513, 0 0 26px #c22513, 0 0 46px #c22513;
  }
  .change-game-mode:hover.local, .change-game-mode:focus.local {
    box-shadow: 0 0 4px #F1C40F, 0 0 26px #F1C40F, 0 0 46px #F1C40F;
  }
  .change-game-mode:hover.online, .change-game-mode:focus.online {
    box-shadow: 0 0 4px #4754E8, 0 0 26px #4754E8, 0 0 46px #4754E8;
  }
  .change-game-mode:hover.easy-bot, .change-game-mode:focus.easy-bot {
    box-shadow: 0 0 4px #36993A, 0 0 26px #36993A, 0 0 46px #36993A;
  }
  .change-game-mode:hover.hard-bot, .change-game-mode:focus.hard-bot {
    box-shadow: 0 0 4px #AD1FCF, 0 0 26px #AD1FCF, 0 0 46px #AD1FCF;
  }
}
#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.popup {
  z-index: 10;
  width: 400px;
  background-color: #ffffff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #2b2b2b;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup .title-popup {
  font-size: 40px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 40%;
  margin-top: 10px;
  padding: 10px 0;
  color: #fff;
  border: 0;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  font-size: 36px;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.x-popup {
  background-color: #019afe;
}

.x-popup:hover {
  background-color: #0089e4;
}

.o-popup {
  background-color: #fe019a;
}

.o-popup:hover {
  background-color: #e40089;
}

#play-again {
  color: #fff;
  padding: 12px 20px;
  min-width: 200px;
  background: none;
  border: 2px solid #6b6a6a;
  font-family: "montserrat", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0, 4 linear;
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.7s;
}

#play-again.show {
  opacity: 1;
}

#play-again:hover {
  color: #fff;
}

#play-again::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #6b6a6a;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transform: scaleX(0);
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

#play-again:hover::before {
  transform: scaleX(1);
}

.button-container {
  display: flex;
  justify-content: center;
}

.align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-turn {
  color: #fff;
  text-align: center;
  font-size: 26px;
}

.turn-container {
  width: 170px;
  height: 80px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 5px;
  color: #fff;
}

.turn-container h3 {
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  font-size: 20px;
}

.turn-container .turn-box {
  border: 3px solid #000;
  font-size: 1.6rem;
  font-weight: 700;
}

.turn-container .turn-box:nth-child(even) {
  border-right: none;
}

.bg {
  position: relative;
  top: -40px;
  left: 0;
  width: 85px;
  height: 40px;
  z-index: -1;
  transition: 0.2s ease-in-out;
  background-color: #019afe;
}

.results-container {
  min-height: 58px;
  display: flex;
  justify-content: center;
}

.results {
  font-family: "montserrat", sans-serif;
  font-size: 50px;
}

.score-container {
  height: 80px;
  position: relative;
  display: flex;
  justify-content: center;
}

.score-container ul {
  display: flex;
  padding: 0 20px 0 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}

.score-container ul li {
  width: 100px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px) rotate(-5deg);
  }
  50% {
    transform: translateX(5px) rotate(5deg);
  }
  75% {
    transform: translateX(-5px) rotate(-5deg);
  }
  100% {
    transform: translateX(0);
  }
}
.x-score {
  background-color: #019afe;
  color: #fff;
}

.draw-score {
  background-color: #d3d3d3;
}

.o-score {
  background-color: #fe019a;
  color: #fff;
}

.shake {
  animation: shake 0.7s 1;
}

.score p {
  font-size: 20px;
  font-weight: 600;
  line-height: 0;
}

.score span {
  font-size: 20px;
}

@media (max-width: 480px) {
  .area {
    margin-top: 6px;
  }
  .mode-container {
    margin-top: 2px;
  }
  .score-container {
    height: 50px;
  }
  .score-container ul li {
    width: 90px;
    height: 50px;
  }
  .score p {
    font-size: 16px;
  }
  .change-game-mode, .change-mode {
    border: 1.5px solid transparent;
  }
  .change-mode {
    font-size: 18px;
    padding: 6px 14px;
  }
  .change-game-mode {
    letter-spacing: 1px;
    font-size: 18px;
    padding: 5px 10px;
  }
  .clicked {
    border: 1.5px solid #fff;
  }
  .popup {
    width: 90%;
    transform: translate(-50%, -50%) scale(0.8);
    padding: 10px 20px 20px;
  }
  .popup .title-popup {
    font-size: 30px;
  }
  .popup button {
    width: 40%;
    font-size: 26px;
  }
}
.o {
  color: #fe019a;
}

.x {
  color: #019afe;
}

.white {
  background-color: #fff;
}/*# sourceMappingURL=style.css.map */